@page "/"

<h1>Bethany's Pie Shop HRM</h1>
<h2>Welcome!</h2>
<br />

@foreach(Type widgeType in Widgets)
{
    <DynamicComponent Type="widgeType"></DynamicComponent>
}

@* <PageTitle>Index</PageTitle>

<h1>Hello, world!!!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
 *@